<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body text-center">
            <img style="float: right; width: 100%; height: 100%;" src="../public/images/nyplogo.gif" alt="NYPLOGO">
            <%- include('./partials/messages.ejs'); %>

            <h4>Lock Down Chat</h4>
            <br/>
            <a href="/createChat" class="btn btn-primary btn-block">Create Chat Room</a>
        </div>
    </div>
</div>
